.calendar-container {
	margin-top: 100px;
}

.card {
	margin-bottom: 20px;
	/* Espacio entre tarjetas */
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f8f9fa;
}

.card-header h5 {
	margin-bottom: 0;
}

.card-body {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.card-body .form-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 15px;
	/* Espacio entre el formulario y las imágenes */
}

.card-body textarea {
	width: 80%;
	/* Ocupa el 80% del ancho del contenedor */
	resize: none;
	height: 70px;
	margin-right: 10px;
	/* Espacio entre el textarea y los botones */
}

.card-body .controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 20%;
	/* Ocupa el 20% del ancho del contenedor */
}

.card-body .controls button {
	margin-right: 10px;
	/* Espacio entre botones */
}

.card-body .product-images {
	display: flex;
	flex-wrap: wrap;
	/* Permite que las imágenes se ajusten a varias líneas si es necesario */
	gap: 10px;
	/* Espacio entre imágenes */
}

.card-body .product-images img {
	max-width: 80px;
	height: auto;
}


/* Contenedor para los botones dentro de los formularios */
.form-controls {
	/* Alinea los botones al final del contenedor */
	gap: 5px;
	/* Espacio entre los botones */
	position: absolute;
	top: 5;
	right: 0;
}

/* Ajusta el ancho del textarea */
textarea {
	width: 100%;
	/* Ajusta al contenedor */
	min-height: 100px;
	/* Altura mínima */
	box-sizing: border-box;
	/* Incluye padding y border en el ancho */
}

.product-card {
	max-width: 200px;
	height: 300px;
	display: flex;
	flex-direction: column;
	margin: 0 -5px;
	border: 1px solid #ddd;
	border-radius: 10px;
	transition: border-color 0.3s, box-shadow 0.3s;
	overflow: hidden;
	/* Asegura que el contenido no se desborde */
}

.product-card-body {
	padding: 10px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card-title {
	font-size: 1rem;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	width: 100%;
}

/* Define the style for the Nutri-Score images */
.product-card .nutri-score-img {
	height: 60px;
	width: 60px;
	display: block;
	margin: 10px auto;
}

.product-card img {
	max-height: 100px;
	max-width: 100px;
	/* Asegura que la imagen no se desborde */
	width: auto;
	height: auto;
	object-fit: contain;
	margin: auto;
	/* Centra la imagen */
	display: block;
}

.custom-container {
	padding: 0;
	/* Sin padding extra en el contenedor */
}

.row {
	margin-left: -10px;
	/* Compensa el margen de las tarjetas */
	margin-right: -10px;
	/* Compensa el margen de las tarjetas */
}

.product-card:hover {
	border-color: #54D400;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	border-width: 4px;
}