<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>fragments</title>
</head>

<body>
	<!-- Fragmento del Menú de Navegación por defecto-->
	<nav th:fragment="menu-por-defecto">
		<!-- Navigation -->
		<div class="fixed-top">
			<header class="topbar">
				<div class="container">
					<div class="row">
						<!-- social icon-->
						<div class="col-sm-12">
							<ul class="social-network">
								<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="waves-effect waves-dark"
										href="https://www.linkedin.com/in/pablo-alonsom/"><i
											class="fa fa-linkedin"></i></a></li>
								<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</header>
			<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
				<div class="container">
					<img src="/images/logoProyecto.png" width="30" height="30">
					<a class="navbar-brand" rel="nofollow" target="_blank" href="http://scadonsak.com/7bF"
						style="text-transform: uppercase;"> FOODTRACKER.COM</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
						aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">

						<ul class="navbar-nav ml-auto">

							<li class="nav-item">
								<a class="nav-link" href="https://palmenendez.com">Home
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/about">Sobre El Proyecto</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/listarAlimentos">Analizador De Alimentos</a>
							</li>

							<li class="nav-item" sec:authorize="isAuthenticated()">
								<a class="nav-link" data-toggle="collapse" href="#acordeonPerfil" role="button"
									aria-expanded="false" aria-controls="acordeonPerfil">
									Mi Perfil
								</a>
								<div class="collapse" id="acordeonPerfil">
									<div class="card card-body">
										<a class="dropdown-item" href="/miCalendario"
											style="color: #343A40; background-color: transparent; border: none; text-decoration: none;"
											onmouseover="this.style.backgroundColor='#E9ECEF';"
											onmouseout="this.style.backgroundColor='transparent';"
											onfocus="this.style.backgroundColor='transparent';"
											onblur="this.style.backgroundColor='transparent';">Mi calendario</a>
										<a class="dropdown-item" href="/productosFavoritos"
											style="color: #343A40; background-color: transparent; border: none; text-decoration: none;"
											onmouseover="this.style.backgroundColor='#E9ECEF';"
											onmouseout="this.style.backgroundColor='transparent';"
											onfocus="this.style.backgroundColor='transparent';"
											onblur="this.style.backgroundColor='transparent';">Mis productos
											favoritos</a>
										<a class="dropdown-item" href="/miPerfil"
											style="color: #343A40; background-color: transparent; border: none; text-decoration: none;"
											onmouseover="this.style.backgroundColor='#E9ECEF';"
											onmouseout="this.style.backgroundColor='transparent';"
											onfocus="this.style.backgroundColor='transparent';"
											onblur="this.style.backgroundColor='transparent';">Mis datos</a>
									</div>
								</div>
							</li>
							<li class="nav-item" sec:authorize="isAuthenticated()">
								<form th:action="@{/logout}" method="post">
									<input type="submit" value="Cerrar Sesión" class="btn btn-link"
										style="text-decoration: none; cursor: pointer; color: #8D8F90;"
										onmouseover="this.style.color='#C6C6C7'"
										onmouseout="this.style.color='#8D8F90'">
								</form>
							</li>
							<li class="nav-item" sec:authorize="!isAuthenticated()">
								<a class="nav-link" href="/login">Iniciar Sesión</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</nav>
	<!-- footer.html -->
	<footer th:fragment="footer" class="bg-dark text-white text-center py-3">
		<p>&copy; 2024 FoodTracker. All Rights Reserved.</p>
	</footer>
</body>

</html>