<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Analizador Alimentos</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/alimentos.css">
</head>

<body>
	<div th:insert="~{fragments :: menu-por-defecto}"></div>

	<!-- Formulario para buscar alimento por código de barras -->
	<div class="container form-container my-5">
		<div class="search-form">
			<form action="/enviarCodigo" method="post" class="w-100 d-flex align-items-center">
				<input type="text" id="codigoBarras" name="codigoBarras"
					placeholder="Buscar producto por código de barras" required>
				<!-- Esto añade el token CSRF automáticamente -->
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit">Buscar</button>
			</form>
		</div>
	</div>


	<div class="container form-container my-5">
		<div class="row">
			<!-- Formulario combinado para filtrar por categoría y tienda -->
			<div class="col-md-12 mb-3">
				<form th:action="@{/filtrarAlimentos}" method="post">
					<div class="form-group">
						<label for="categoriaSelect">Seleccionar Categoría:</label>
						<select id="categoriaSelect" class="form-control" name="categoria">
							<option value="" th:selected="${selectedCategoria == ''}">Todas</option>
							<option value="fruits" th:selected="${selectedCategoria == 'fruits'}">Frutas</option>
							<option value="vegetables" th:selected="${selectedCategoria == 'vegetables'}">Verduras
							</option>
							<option value="fishes" th:selected="${selectedCategoria == 'seafood'}">Pescados/Conservas
							</option>
							<option value="frozen-foods" th:selected="${selectedCategoria == 'frozen-foods'}">Congelados
							</option>
							<option value="meats" th:selected="${selectedCategoria == 'meats'}">Carnes/Embutidos
							</option>
							<option value="beverages" th:selected="${selectedCategoria == 'beverages'}">Bebidas</option>
						</select>
					</div>
					<div class="form-group">
						<label for="tiendaSelect">Seleccionar Tienda:</label>
						<select id="tiendaSelect" class="form-control" name="tienda">
							<option value="" th:selected="${selectedTienda == ''}">Todas</option>
							<option value="mercadona" th:selected="${selectedTienda == 'mercadona'}">Mercadona</option>
							<option value="carrefour" th:selected="${selectedTienda == 'carrefour'}">Carrefour</option>
							<option value="lidl" th:selected="${selectedTienda == 'lidl'}">Lidl</option>
							<option value="alcampo" th:selected="${selectedTienda == 'alcampo'}">AlCampo</option>
							<option value="eroski" th:selected="${selectedTienda == 'eroski'}">Eroski</option>
							<option value="dia" th:selected="${selectedTienda == 'dia'}">Dia</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary mt-2">Filtrar</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Mostrar lista de productos si existe -->
	<div th:if="${productos}">
		<div class="container custom-container">
			<div class="row">
				<div class="col-md-2" th:each="producto : ${productos}">
					<a th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${producto.code})}">
						<div class="product-card mb-3">
							<div class="product-card-body">
								<img th:src="${producto.imageUrl}" class="img-fluid" alt="Imagen del Producto"
									onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
								<p class="product-card-title" th:text="${producto.product_name}"></p>
								<img th:if="${producto.nutrition_grades == 'a'}"
									src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
									class="nutri-score-img" alt="Nutri-Score">
								<img th:if="${producto.nutrition_grades == 'b'}"
									src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
									class="nutri-score-img" alt="Nutri-Score">
								<img th:if="${producto.nutrition_grades == 'c'}"
									src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
									class="nutri-score-img" alt="Nutri-Score">
								<img th:if="${producto.nutrition_grades == 'd'}"
									src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
									class="nutri-score-img" alt="Nutri-Score">
								<img th:if="${producto.nutrition_grades == 'e'}"
									src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
									class="nutri-score-img" alt="Nutri-Score">
								<img th:unless="${producto.nutrition_grades == 'a' or producto.nutrition_grades == 'b' or producto.nutrition_grades == 'c' or producto.nutrition_grades == 'd' or producto.nutrition_grades == 'e'}"
									src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
									class="nutri-score-img" alt="Nutri-Score">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Controles de paginación -->
	<div class="pagination">
		<!-- Enlace "Anterior" -->
		<a th:href="@{/listarAlimentos(page=${currentPage - 1}, categoria=${selectedCategoria}, tienda=${selectedTienda})}"
			class="pagination__link pagination__link--previous" th:text="'Anterior'"
			th:classappend="${currentPage == 1 ? 'pagination__link--disabled' : ''}"></a>

		<!-- Enlace "Siguiente" -->
		<a th:href="@{/listarAlimentos(page=${currentPage + 1}, categoria=${selectedCategoria}, tienda=${selectedTienda})}"
			class="pagination__link pagination__link--next" th:text="'Siguiente'"
			th:classappend="${currentPage == totalPages ? 'pagination__link--disabled' : ''}"></a>
	</div>
	<div th:insert="~{fragments :: footer}"></div>
</body>

</html>