<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login 04</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>
	<div th:insert="~{fragments :: menu-por-defecto}"></div>
	<div class="container d-flex align-items-center justify-content-center min-vh-100"
		style="min-height: calc(100vh - 50px); padding-top: 50px;">
		<div class="card card-container">
			<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
			<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<!-- Mostrar mensaje de error si está presente -->
			<div th:if="${loginError}" class="alert alert-danger">
				<p th:text="${loginError}"></p>
			</div>

			<form class="form-signin" th:action="@{/login}" method="post">
				<span id="reauth-email" class="reauth-email"></span>
				<input type="text" id="inputNombreUsuario" class="form-control" name="nombreUsuario"
					placeholder="Nombre de Usuario" required autofocus>
				<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
					required>
				<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Loguearse</button>
			</form><!-- /form -->
			<a href="/registro" class="forgot-password">
				No tienes cuenta? Registrate aquí
			</a>
		</div><!-- /card-container -->
	</div><!-- /container -->
	<div th:insert="~{fragments :: footer}"></div>
</body>

</html>