<!--EL CODIGO DE CADA DIA ES BASTANTE REPETITIVO QUIZAS SE PUEDA METER EN UN FRAGMEN O HACER ALGO CON BUCLES -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Mi Calendario</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
	<link href="/css/calendario.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div th:insert="~{fragments :: menu-por-defecto}"></div>

	<div class="container calendar-container">
		<div id="accordion">
			<!-- Lunes -->
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
							aria-expanded="false" aria-controls="collapseOne">
							Lunes
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-lunes">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Lunes'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Lunes']}" th:if="${listasCompra['Lunes'] != null}"></p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Lunes" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-lunes">
							<input type="hidden" name="dia" value="Lunes" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-lunes" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-lunes" type="submit" class="btn btn-secondary" value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Lunes'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Martes -->
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
							aria-expanded="false" aria-controls="collapseTwo">
							Martes
						</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-martes">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Martes'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Martes']}" th:if="${listasCompra['Martes'] != null}"></p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Martes" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-martes">
							<input type="hidden" name="dia" value="Martes" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-martes" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-martes" type="submit" class="btn btn-secondary" value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Martes'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Miércoles -->
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree">
							Miércoles
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-miercoles">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Miércoles'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Miércoles']}" th:if="${listasCompra['Miércoles'] != null}">
								</p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Miércoles" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-miercoles">
							<input type="hidden" name="dia" value="Miércoles" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-miercoles" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-miercoles" type="submit" class="btn btn-secondary"
								value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Miércoles'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Jueves -->
			<div class="card">
				<div class="card-header" id="headingFour">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
							aria-expanded="false" aria-controls="collapseFour">
							Jueves
						</button>
					</h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-jueves">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Jueves'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Jueves']}" th:if="${listasCompra['Jueves'] != null}"></p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Jueves" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-jueves">
							<input type="hidden" name="dia" value="Jueves" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-jueves" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-jueves" type="submit" class="btn btn-secondary" value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Jueves'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Viernes -->
			<div class="card">
				<div class="card-header" id="headingFive">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
							aria-expanded="false" aria-controls="collapseFive">
							Viernes
						</button>
					</h5>
				</div>
				<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-viernes">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Viernes'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Viernes']}" th:if="${listasCompra['Viernes'] != null}"></p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Viernes" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-viernes">
							<input type="hidden" name="dia" value="Viernes" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-viernes" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-viernes" type="submit" class="btn btn-secondary"
								value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Viernes'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sábado -->
			<div class="card">
				<div class="card-header" id="headingSix">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
							aria-expanded="false" aria-controls="collapseSix">
							Sábado
						</button>
					</h5>
				</div>
				<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-sabado">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Sábado'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Sábado']}" th:if="${listasCompra['Sábado'] != null}"></p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Sábado" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-sabado">
							<input type="hidden" name="dia" value="Sábado" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-sabado" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-sabado" type="submit" class="btn btn-secondary" value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Sábado'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Domingo -->
			<div class="card">
				<div class="card-header" id="headingSeven">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
							aria-expanded="false" aria-controls="collapseSeven">
							Domingo
						</button>
					</h5>
				</div>
				<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
					<div class="card-body">
						<!-- Formulario para guardar la lista -->
						<form th:action="@{/guardarLista}" method="post" id="save-form-domingo">
							<div class="form-container">
								<!-- Mostrar textarea si la lista es nula -->
								<textarea name="lista" placeholder="Lista de alimentos..."
									th:if="${listasCompra['Domingo'] == null}"></textarea>
								<!-- Mostrar texto si la lista no es nula -->
								<p th:text="${listasCompra['Domingo']}" th:if="${listasCompra['Domingo'] != null}"></p>

								<!-- Campo oculto para el día de la semana y el ID del usuario -->
								<input type="hidden" name="dia" value="Domingo" />
								<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
							</div>
						</form>

						<!-- Formulario separado para restablecer la lista -->
						<form th:action="@{/restablecerLista}" method="post" id="reset-form-domingo">
							<input type="hidden" name="dia" value="Domingo" />
							<input type="hidden" name="usuarioId" th:value="${usuario.id}" />
						</form>

						<!-- Contenedor para los botones -->
						<div class="form-controls">
							<input form="save-form-domingo" type="submit" class="btn btn-primary" value="Guardar">
							<input form="reset-form-domingo" type="submit" class="btn btn-secondary"
								value="Restablecer">
						</div>
						<!-- Imágenes de productos -->
						<!-- Mostrar lista de productos si existe -->
						<div th:if="${itemsModel}">
							<div class="container custom-container">
								<div class="row">
									<div class="col-md-2" th:each="entry : ${itemsModel}"
										th:if="${entry.key.dia == 'Domingo'}">
										<a
											th:href="@{/analizadorAlimentos?codigoBarras={code}(code=${entry.value.code})}">
											<div class="product-card mb-3">
												<div class="product-card-body">
													<img th:src="${entry.value.imageUrl}" class="img-fluid"
														alt="Imagen del Producto"
														onerror="this.onerror=null;this.src='/images/imgproductnotavailable.png';">
													<p class="product-card-title" th:text="${entry.value.product_name}">
													</p>
													<img th:if="${entry.value.nutrition_grades == 'a'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'b'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'c'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'd'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:if="${entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">
													<img th:unless="${entry.value.nutrition_grades == 'a' or entry.value.nutrition_grades == 'b' or entry.value.nutrition_grades == 'c' or entry.value.nutrition_grades == 'd' or entry.value.nutrition_grades == 'e'}"
														src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
														class="nutri-score-img" alt="Nutri-Score">

													<!-- Formulario para eliminar producto -->
													<form th:action="@{/eliminarProducto}" method="post" class="mt-2">
														<input type="hidden" name="itemId" th:value="${entry.key.id}" />
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</form>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{fragments :: footer}"></div>
</body>

</html>