<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Mi Calendario</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div th:insert="~{fragments :: menu-por-defecto}"></div>

	<h2 style="margin-top: 200px;">hola desde calendario</h2>
	<div th:insert="~{fragments :: footer}"></div>
</body>

</html>