<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Ver Alimento</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div th:insert="~{fragments :: menu-por-defecto}"></div>

	<h2>Analizador de Alimentos</h2>
	<div class="container form-container mt-5 mb-5" th:if="${product}">
		<div class="row">
			<!-- Primera columna: Imagen del producto -->
			<div class="col-md-6 my-5">
				<img th:src="${product.image_front_url}" alt="Imagen del Producto" class="img-large">
			</div>

			<!-- Segunda columna: Información del producto -->
			<div class="col-md-6 my-5">
				<h3 th:text="${product.product_name}"></h3>
				<p><strong>Código de barras:</strong> <span th:text="${product.code}"></span></p>
				<p><strong>Origen:</strong> <span th:text="${product.origins}"></span></p>
				<p><strong>Ingredientes:</strong> <span th:text="${product.ingredients_text}"></span></p>
				<p><strong>Cantidad:</strong> <span th:text="${product.quantity}"></span></p>
				<p><strong>Supermercados:</strong> <span th:text="${product.stores}"></span></p>
				<p><strong>Marca:</strong> <span th:text="${product.brands}"></span></p>
				<p><strong>Países:</strong> <span th:text="${product.countries}"></span></p>
				<p><strong>Categorías:</strong> <span th:text="${product.categories}"></span></p>
				<p><strong>Nutri Score:</strong>
					<img th:if="${product.nutrition_grades == 'a'}"
						src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-a-new-en.svg"
						height="60" width="60" class="nutri-score-img" alt="Nutri-Score">
					<img th:if="${product.nutrition_grades == 'b'}"
						src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-b-new-en.svg"
						height="60" width="60" class="nutri-score-img" alt="Nutri-Score">
					<img th:if="${product.nutrition_grades == 'c'}"
						src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-c-new-en.svg"
						height="60" width="60" class="nutri-score-img" alt="Nutri-Score">
					<img th:if="${product.nutrition_grades == 'd'}"
						src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-d-new-en.svg"
						height="60" width="60" class="nutri-score-img" alt="Nutri-Score">
					<img th:if="${product.nutrition_grades == 'e'}"
						src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-e-new-en.svg"
						height="60" width="60" class="nutri-score-img" alt="Nutri-Score">
					<img th:unless="${product.nutrition_grades == 'a' or product.nutrition_grades == 'b' or product.nutrition_grades == 'c' or product.nutrition_grades == 'd' or product.nutrition_grades == 'e'}"
						src="https://static.openfoodfacts.org/images/attributes/dist/nutriscore-unknown-new-en.svg"
						height="60" width="60" class="nutri-score-img" alt="Nutri-Score">
				</p>
				<form th:action="@{/guardarFavorito}" method="post">
					<input type="hidden" name="codigoBarras" th:value="${product.code}">
					<input type="submit" value="Guardar favorito" class="btn btn-info">
				</form>
				<!-- Formulario para añadir al calendario -->
				<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
				<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

				<!-- Formulario para agregar el producto a la lista de compra -->
				<form th:action="@{/agregarItem}" method="post">
					<input type="hidden" name="usuarioId" th:value="${usuarioId}">
					<input type="hidden" name="codigoBarras" th:value="${product.code}">
					<div class="form-group">
						<label for="dia">Agregar al Calendario:</label>
						<select id="dia" name="dia" class="form-control" required>
							<option value="Lunes">Lunes</option>
							<option value="Martes">Martes</option>
							<option value="Miércoles">Miércoles</option>
							<option value="Jueves">Jueves</option>
							<option value="Viernes">Viernes</option>
							<option value="Sábado">Sábado</option>
							<option value="Domingo">Domingo</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Agregar</button>
				</form>
			</div>
		</div>

		<!-- Segunda fila -->
		<div class="row">
			<!-- Primera columna: Imagen nutricional -->
			<div class="col-md-6 my-5">
				<img th:src="${product.image_nutrition_url}" alt="Imagen del Producto" class="img-large">
			</div>

			<!-- Segunda columna: Tabla de información nutricional -->
			<div class="col-md-6 my-5">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Información Nutricional</th>
							<th scope="col">Como se vende por 100 g / 100 ml</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Energía</td>
							<td
								th:text="${product.nutriments.energy} + 'kj/' + ${product.nutriments.energy_kcal_100g} + 'kcal'">
							</td>
						</tr>
						<tr>
							<td>Grasas</td>
							<td th:text="${product.nutriments.fat_100g} + g"></td>
						</tr>
						<tr>
							<td>&emsp;Grasas saturadas</td>
							<td th:text="${product.nutriments.saturated_fat_100g} + g"></td>
						</tr>
						<tr>
							<td>Hidratos de carbono</td>
							<td th:text="${product.nutriments.carbohydrates_100g} + g"></td>
						</tr>
						<tr>
							<td>&emsp;Azucares</td>
							<td th:text="${product.nutriments.sugars_100g} + g"></td>
						</tr>
						<tr>
							<td>Fibra Alimentaria</td>
							<td th:text="${product.nutriments.fiber_100g} + g"></td>
						</tr>
						<tr>
							<td>Proteína</td>
							<td th:text="${product.nutriments.proteins_100g} + g"></td>
						</tr>
						<tr>
							<td>Sal</td>
							<td th:text="${product.nutriments.salt_100g} + g"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:if="${error}">
		<p th:text="${error}" />
	</div>

	<div th:insert="~{fragments :: footer}"></div>
</body>

</html>